@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");

body {
  font-family: "Lato", "Arial", serif;
  font-weight: 400;
  color: #424551;
  line-height: 1.6;
  background: #fff;
}


.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  /* flex: 1 1 auto; */
}

.wrapper>main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1315px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  padding: 12px 40px;
  border: 1px solid #FF3F3A;
  color: #FFFFFF;
  letter-spacing: 0.5px;
  font-weight: 700;
  transition: background 0.3s ease 0s;
  position: relative;
  display: inline-block;
  text-align: center;
}

.button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(135.95deg, #d32c26 0%, #dd5709 100%);
  border-radius: 4px;
  padding: 12px 40px;
  border: 1px solid #FF3F3A;
  opacity: 0;
  transition: opacity 0.3s ease 0s;
}

.button:hover::before {
  opacity: 1;
}

.button span {
  position: relative;
  z-index: 3;
}

.button_border {
  background: transparent;
  color: #ff3f3a;
}

.button_border:hover {
  color: #fff;
}

.title-block {
  color: #1E212C;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.title-block__subtitle {
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.title-block__main-title {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  background-color: pink;
  opacity: 0.9;
  padding: 20px 0;
}

.header__container {
  display: flex;
  column-gap: 60px;
  align-items: center;
}

.header__logo {
  flex: 0 0 130px;
}

.header__logo img {
  width: 100%;
}

.header__menu {
  flex: 1 1 auto;
}

.menu__list {
  display: flex;
  column-gap: 40px;
  row-gap: 15px;
  flex-wrap: wrap;
}

.menu__link {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 1px;
  transition: color 0.3s ease 0s;
}

.menu__link:hover {
  color: #c22f2a;
}

.menu__link::after,
.private-header__log-in::after,
.private-header__register::after {
  content: "";
  height: 2px;
  width: 0%;
  background-color: #c22f2a;
  transition: width 0.6s ease 0s;
}

.menu__link:hover:after,
.private-header__log-in:hover:after,
.private-header__register:hover:after {
  width: 100%;
}

.header__actions {
  display: flex;
  column-gap: 36px;
  row-gap: 10px;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
}

.private-header {
  padding-left: 24px;
  background: url("../img/user.svg") 0 center / 16px 17px no-repeat;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.private-header__log-in, .private-header__register {
  display: flex;
  flex-direction: column;
  gap: 1px;
  transition: color 0.3s ease 0s;
}

.private-header__log-in:hover, .private-header__register:hover {
  color: #c22f2a;
}

.main-page {
  position: relative;
  padding: 190px 0 80px;
  background: linear-gradient(55.95deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
}

.main-page__container {
  position: relative;
  z-index: 2;
}

.main-page__body {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 140px;
}

.main-page__content {
  flex: 1 1 50%;
  padding-right: 20px;
  align-self: center;
}

.content-main__video {
  display: inline-flex;
  align-items: center;
  column-gap: 16px;
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: #1E212C;
  transition: color 0.3s ease 0s;
}

.content-main__video:hover {
  color: #c22f2a;
}

.content-main__video:hover::after {
  animation-play-state: paused;
}

.content-main__video:not(:last-child) {
  margin-bottom: 40px;
}

.content-main__video::before {
  content: "";
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #FF3F3A url("../img/play.svg") center / 16px 16px no-repeat;
}

.content-main__video::after {
  content: "";
  position: absolute;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  transform: scale(1.6);
  background: rgba(255, 63, 58, 0.12);
  z-index: -1;
  animation: circle 2s ease 0s infinite;
}

@keyframes circle {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(3);
  }
}

.content-main__title {
  font-weight: 900;
  font-size: 64px;
  letter-spacing: 1px;
  color: #1E212C;
  max-width: 496px;
  line-height: 1.3;
}

.content-main__title:not(:last-child) {
  margin-bottom: 60px;
}

.content-main__buttons {
  display: flex;
  gap: 24px;
  align-items: center;
}

.content-main__buttons:not(:last-child) {
  margin-bottom: 20px;
}

.main-page__image {
  flex: 1 1 50%;
}

.main-page__image img {
  transform: translateX(7.8%);
  width: 107.8%;
}

.dignity-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.dignity-body__item {
  color: #1E212C;
  display: flex;
  align-items: center;
  column-gap: 12px;
  flex: 1 1 auto;
}

.dignity-body__item:not(:last-child)::after {
  content: "";
  width: 8px;
  height: 8px;
  background: #FF3F3A;
  border-radius: 50%;
  margin: 0 auto;
}

.dignity-body__text {
  line-height: 1.6;
}

.dignity-body__number {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;
}

.main-page__box-decor {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.main-page__decor {
  position: absolute;
}

.main-page__decor_1 {
  background: url("../img/shapes.svg");
  width: 96px;
  height: 96px;
  left: 4.2%;
  top: 12.3%;
}

.main-page__decor_2 {
  background: url("../img/circles.svg");
  width: 284px;
  height: 284px;
  left: 0;
  bottom: 0;
  transform: translate(-39%, 35.2%);
}

.main-page__decor_3 {
  background: url("../img/shapes-2.svg");
  width: 88px;
  height: 47px;
  left: 40.7%;
  top: 45%;
}

.main-page__decor_4 {
  background: url("../img/shapes.svg");
  width: 96px;
  height: 96px;
  right: 5%;
  top: 0%;
  transform: rotate(135deg);
}

.main-page__decor_5 {
  background: url("../img/dots.svg");
  width: 187px;
  height: 137px;
  right: 0;
  bottom: 17.9%;
  transform: translateX(16%);
}

.main-page__decor_6 {
  background: url("../img/half-sicle.svg");
  width: 61px;
  height: 61px;
  bottom: 24.1%;
  left: 38.1%;
}

.who-we-are {
  padding: 180px 0 80px;
  position: relative;
}

.who-we-are__container {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.who-we-are__img {
  flex: 0 1 57.3%;
}

.who-we-are__img img {
  width: 100%;
}

.who-we-are__content {
  flex: 0 1 31.7%;
}

.who-we-are__title:not(:last-child) {
  margin-bottom: 40px;
}

.who-we-are__list {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.who-we-are__list:not(:last-child) {
  margin-bottom: 40px;
}

.who-we-are__item {
  position: relative;
  padding-left: 32px;
}

.who-we-are__item::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 0;
  top: 6px;
  background: url("../img/check.svg") 0 0 / 15px 15px no-repeat;
  transition: transform 0.2s ease 0s;
}

.who-we-are__item:hover:before {
  transform: scale(1.2);
}

.who-we-are__button:not(:last-child) {
  margin-bottom: 20px;
}

.who-we-are__box-decor {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.who-we-are__decor {
  position: absolute;
}

.who-we-are__decor_1 {
  background: url("../img/circles-2.svg") 0 0 no-repeat;
  width: 287px;
  height: 287px;
  right: 0;
  top: 40.5%;
  transform: translateX(57.4%);
}

.who-we-are__decor_2 {
  background: url("../img/dots-3.svg") 0 0 no-repeat;
  width: 214px;
  height: 233px;
  left: 0;
  top: 28.2%;
  transform: translateX(-52%);
}